h1{
    text-align: center;
    text-shadow: 3px 3px 5px, -3px -3px 5px rgb(211, 211, 211);
}
h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #012970;
}
p{
    text-align: center;
}
body{
    background-color: hsl(220, 100%, 98%);
}
#box{
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px ;
    border-color: azure;
    border-radius: 5px;
    box-shadow: 3px 3px 20px , -3px -3px 20px #f6f9ff;
    margin-top: 16%;
    margin-left: 37.5%;
    
    
}
form{
    text-align: center;
}


h2 {
    text-align: center;
}


input, button {
    margin-bottom: 8px;
}
form {
    display: contents;
    flex-direction: column;
}
label{
    text-align: left;
    max-width: 14%;
}
input{
    display: inline-block;
    width: 35%;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input#id_username{
    margin-left: 70px;
}
input#id_last_name{
    margin-left: 70px;
}
input#id_first_name{
    margin-left: 70px;
}
input#id_email{
    margin-left: 95px;
}
input#id_password1{
    margin-left: 70px;
}
input#id_password2{
    margin-left: 30px;
}




button {
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    margin-left: 55%;
    margin-top: 2%;
}