{% extends 'authentication/nav.html' %}
{%load static%}
{%block style%}
    <link rel="stylesheet" href="{%static 'reg.css'%}">
{%endblock%}
{% block title%}sign up{%endblock%}
{%block content%}
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<div id="box">
    <h1>REGISTER BELOW</h1>
    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
    <form method="POST" action="{% url 'register' %}">
        {%csrf_token%}
        <div>
        <span><label for="username">username: </label></span>
        {{form.username}}<br>
        <span><label for="first_name">first name: </label></span>
        {{form.first_name}}<br>
        <span><label for="last_name">last name: </label></span>
        {{form.last_name}}<br>
        <!--<input type="text" id="username" name="username" placeholder="username" maxlength="15" required>-->
        <span><label for="email">email:</label></span>
        {{form.email}}<br>
        <!--<input type="email" id="email" name='email' placeholder="email" required>-->
        <span><label for="password1">password: </label></span>
        {{form.password1}}<br>
        <!--<input type="password" id="password" name="password" placeholder="password" minlength="8" maxlength="20" required>-->
        <span><label for="password2">repeat password: </label></span>
        {{form.password2}}<br>
        <!--<input type="password" id="repassword" name="repassword" placeholder="repeat password" minlength="8" maxlength="20" required>-->
    <div id="button">
        <button type="submit" id="btn">signup</button>
    </div>
        </div>
    </form>
</div>
{%endblock%}