{% extends 'authentication/nav.html' %}
{%load static%}

{%block content%}

      
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active  c-item" data-bs-interval="7000">
              <img src="{%static 'keyboard-macbook.jpg'%}" class="d-block w-100 c-img" alt="...">
              <div class="carousel-caption top-0 mt-4">
                <div class="w-100 d-flex flex-column mt-5 text-capitalize fw-bolder
                            justify-content-center align-items-center text-white fs-1">
            <h1 style="font-size: 2em;"> Welcome to Mono_tronics</h1>
            <h1 style="font-size: 1.3em;">Electronic Giants in Tanzania</h1>
      </div>
              </div>
            </div>
            <div class="carousel-item c-item" data-bs-interval="7000">
              <img src="{%static 'iphone 15 colour.jpeg'%}" class="d-block w-100 c-img" alt="...">
              <div class="carousel-caption top-0 mt-4">
                <div class="w-100 d-flex flex-column mt-5 text-capitalize fw-bolder
                            justify-content-center align-items-center text-white fs-1">
            <h1 style="font-size: 2em;"> Welcome to Mono_tronics</h1>
            <h1 style="font-size: 1.3em;">Electronic Giants in Tanzania</h1>
      </div>
              </div>
            </div>
            <div class="carousel-item c-item">
              <img src="{%static 'pex4.jpg'%}" class="d-block w-100 c-img" alt="...">
              <div class="carousel-caption top-0 mt-4">
                <div class="w-100 d-flex flex-column mt-5 text-capitalize fw-bolder
                            justify-content-center align-items-center text-white fs-1">
            <h1 style="font-size: 2em;"> Welcome to Mono_tronics</h1>
            <h1 style="font-size: 1.3em;">Electronic Giants in Tanzania</h1>
      </div>
              </div>
            </div>
          </div>
          <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>-->
        </div>

        <div>
        <hr class="border border-white border-2 opacity-75">
        <p class="text-capitalize text-white fw-bolder text-center fs-4">Mungu <i class="fa-solid fa-person-praying" style="color: #fafafa;"></i> 
          || juhudi <i class="fa-solid fa-briefcase" style="color: #fafafa;"></i> || nidhamu <i class="fa-solid fa-clock" style="color: #fafafa;"></i></p>
        <hr class="border border-white border-2 opacity-75">
        </div>
              

        
    



   <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <p style="color: #fff">welcome</p>
            <a href="{% url 'login' %}"><button class="btn btn-primary btn-mr btn-sm" type="button">login</button></a>
            <a href="{% url 'register' %}"><button class="btn btn-primary" style="float: right;" type="button">signup</button></a>
        
        </nav>-->
        {%endblock%}
