{% extends 'authentication/nav.html' %}
{%load static%}

{%block content%}

      
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active c-item">
              <img src="{%static 'pex1.jpg'%}" class="d-block w-100 c-img" alt="...">
            </div>
            <div class="carousel-item c-item">
              <img src="{%static 'pex2.jpg'%}" class="d-block w-100 c-img" alt="...">
            </div>
            <div class="carousel-item c-item">
              <img src="{%static 'pex4.jpg'%}" class="d-block w-100 c-img" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="w-100 d-flex flex-column
        justify-content-center align-items-center text-white fs-1">
            <h1 style="font-size: 2em;"> Welcome to Mono_tronics</h1>
            <h1 style="font-size: 1.3em;">Electronic Giants in Tanzania</h1>
      </div>

        
    



   <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <p style="color: #fff">welcome</p>
            <a href="{% url 'login' %}"><button class="btn btn-primary btn-mr btn-sm" type="button">login</button></a>
            <a href="{% url 'register' %}"><button class="btn btn-primary" style="float: right;" type="button">signup</button></a>
        
        </nav>-->
        {%endblock%}
